body {
  margin: 0px;
  font-family: roboto, arial, sans-serif;
}

.white-font {
  color: white;
}

.dark-bg {
  background-color: #1F2937;
}

.grey-bg {
  background-color: #E5E7EB;
}

h1 {
  font-size: 52px;
  font-weight: extra-bold;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

.flex, .flex-center-j, .flex-center-a {
  display: flex;
}

.flex-center-j {
  justify-content: center;
}

.flex-center-a {
  align-items: center;
}

ul {
  list-style: none;
  gap: 20px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

a {
  font-family: roboto, arial, sans-serif;
  text-decoration: none;
}

a:hover {
  color: #E1E1E1;
}

button {
  font-size: 24px;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #3882F6;
  border-radius: 5px;
  align-self: center;
  border: 0px;
  padding: 10px 15px;
}

button:hover {
  background-color: #69A4FF;
}

.hero {
  padding-bottom: 30px;
}

.hero-content {
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.hero-img > img {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0px;
}

.about {
  margin: auto;
  padding: 30px 0px;
  width: 80%;
  gap: 30px;
}

.headshot > img {
  width: 100%;
  border-radius: 50%;
}

.projects-container {
  padding: 70px 50px;
}

.projects-container > img {
  width: 100%;
  border-radius: 5px;
}

.cta {
  background-color: #3882F6;
  border-radius: 10px;
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
}

.footer {
  padding: 2px;
}