body {
  margin: 0px;
  font-family: roboto, arial, sans-serif;
}

.white-font {
  color: white;
}

.dark-bg {
  background-color: #1F2937;
}

h1 {
  font-size: 52px;
  font-weight: extra-bold;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

.flex, .flex-center-j, .flex-center-a {
  display: flex;
}

.flex-center-j {
  justify-content: center;
}

.flex-center-a {
  align-items: center;
}

nav {
  justify-content: space-evenly;
}

ul {
  list-style: none;
  gap: 20px;
  font-size: 24px;
}

a {
  font-family: roboto, arial, sans-serif;
  text-decoration: none;
}

a:hover {
  color: #E1E1E1;
}

button {
  font-size: 24px;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #3882F6;
  border-radius: 5px;
  align-self: center;
  border: 0px;
  padding: 10px 15px;
}

button:hover {
  background-color: #69A4FF;
}


.hero {
  padding: 30px 90px;
}

.hero > img {
  height: auto;
  width: 700px;
}

.about {
  margin: auto;
  padding: 30px 0px;
  width: 80%;
  gap: 30px;
}

.about > img {
  height: 300px;
  border-radius: 50%;
}

.projects-container {
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 70px 50px;
  gap: 20px;
}

.projects-grid {
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 20px;
}

.project {
  flex-direction: column;
  gap: 30px;
}

.projects-container > a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cta {
  background-color: #3882F6;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  margin: 80px auto;
  width: 80%;
}

.cta-text {
  width: 80%;
}

.footer {
  padding: 2px;
}